<div class="title-news">Cara ringkas menggantung object di tembok dari bata ringan AAC</div>
<div class="clear height-5"></div>
<div class="info"><span class="date">11 Desember 2013.</span> <span class="author">by Alexander Untung, B. Arch.</span></div>
<div class="clear height-20"></div>
<div class="height-3"></div>
<p>
	Dengan
menggunakan Fischer, bracket dikunci dengan sekrup sehingga akan mudah dilepas pasang
jika dibandingkan dengan di paku.
</p>
<p>
	Dengan
menggunakan Fischer juga bisa mencegah keretakan pada dinding karena getaran di
dinding lebih kecil dibandingkan menggunakan paku.
</p>
<p>
	Karena fungsi Fischer adalah untuk menahan beban di dinding,
pastikan anda memilih ukuran dan bentuk yang sesuai dengan beban yang akan
ditahan oleh fischer tersebut, silahkan berkonsultasi dengan ahlinya untuk
beban yang cukup berat.
</p>
<p>
	<br>
	<h4>Peralatan yang di butuhkan:</h4>
</p>
<ul>
	<li>Bor
Listrik
	</li>
	<li>Mata Bor ( pilih diameter yang sesuai dengan
ukuran Fischer)
	</li>
	<li>Fischer ( atau Fisher) kushus bata ringan </li>
	<li>Sekrup</li>
	<li>Obeng</li>
	<li>Palu dan
paku
	</li>
	<li>Spidol</li>
</ul>
<p>
	<h4>Pengerjaan:</h4>
	<strong>1. Menentukan Titik Pengeboran</strong>
</p>
<p>
	Gunakan lubang-lubang pada bracket yang mau dipasang sebagai tanda
untuk membuat titik-titik pengeboran, beri tanda dengan spidol. Agar pengeboran
tidak meleset, buat lubang awal dengan ujung paku, usahakan jangan terlalu
dalam untuk membuat lubang awal ini
</p>
<p>
	2. <strong>Melakukan Pengeboran</strong>
</p>
<p>
	Lakukan pengeboran pada titik-titik yang sudah di beri lubang awal,
kedalaman pengeboran sesuai dengan panjang dari Fischer.
</p>
<p>
	<strong>3. Pemasangan Fischer</strong>
</p>
<p>
	Masukkan Fischer satu persatu, gunakan palu untuk membantu, jangan terlalu keras saat
memukul fischer sehingga tidak merusak fischer.
</p>
<p>
	<strong>4. Pemasangan Bracket</strong>
</p>
<p>
	Pasangkan bracket pada fischer, lalu kunci dengan sekrup. Gunakan
obeng untuk mengencangkan sekrup. Setelah terpasang, uji kekuatan penahan
bracket sebelum diberi beban yang akan dipasang.
</p><div class="clear height-5"></div>
<div class="height-3"></div>
