<div class="title-news">Blesscon gelar gathering bersama SPG</div>
<div class="clear height-5"></div>
<div class="info"><span class="date">11 Desember 2013.</span> <span class="author">by Alexander Untung, B. Arch.</span></div>
<div class="clear height-20"></div>
<div class="height-3"></div>
<p>
	Dalam rangka membina relasi untuk lebih dekat
antara Blesscon dan SPG toko distributor, Manajer Marketing Blesscon menggelar
gathering bersama SPG toko. Acara yang pertama kali digelar ini akan menjadikan
jembatan antara Blesscon dan SPG yang selama ini menjadi retail penjualan
produk material bangunan yang semakin banyak merek-merek pesaing bangunan ini.
</p>
<p>
	Ghatering ini di gelar pada hari Jum’at, (15/11)
selepas para SPG pulang jam kerja yang tidak jauh dari lokasi tempat gathering
di Grand Ocean Restaurant Jl. Hr. Muhammad No. 36 Surabaya.
</p>
<p>
	Peserta yang hadir di acara tersebut SPG (All
Principle) Norton dan karyawan UD. Norton yang berjumlah sekitar 100 orang
memenuhi tempat yang di sediakan panitia, Marketing Blesscon yang diwakili
Bapak Edi Rakamto mengucapkan terimakasih pada peserta yang telah menyempatkan
hadir disela kesibukan mereka selepas pulang jam kerja untuk bergabung di
gathering ini.
</p>
<p>
	Setelah bapak Edi Rakamto memberikan pengarahan
singkat tentang produk bata ringan Blesscon kemudian dilanjutkan penjelasan
dari Bapak Dadang tentang keuntungan menjual produk bata ringan Blesscon yang
menggunakan bahan ramah lingkungan dibandingkan bahayanya menggunakan produk
yang menggunakan limbah batu bara (B3) atau yang sering dikenal dengan fly ass
juga menambah pengetahuan peserta bagaimana cara menghitungkan kebutuhan 
	<em>customer</em> saat membeli bata ringan untuk
membangun dinding mereka agar tidak banyak sisa bahan.
</p>
<p>
	Reaksi peserta sangat positif setelah pemaparan
diberikan interaktif dengan pertanyaan-pertanyaan yang disampaikan langsung
dijawab oleh para pembicara yang mewakili marketing Blesscon. Tidak hanya itu
saja yang membuat acara ini menarik di sesi acara panitia menyedikan total 
	<em>doorprize</em> 500.000,- voucher belanja dan
5 buah jam dinding untuk peserta yang mampu menjawab pertanyaan yang diberikan
panitia terkait dengan produk dan pemaparan selama acara berlangsung,setelah pembagian doorprize acara dilanjutkan
makan bersama dengan menu yang sudah disiapkan Grand Ocean Restaurant.
</p>
<div class="clear height-5"></div>
<div class="height-3"></div>
