{% extends layout %}
{% block title %}About Us - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
<div class="outers-middle-contents  prelatife">
			<div class="outers-back-crem-hm insidepage">
				<div class="prelatife container">
					<div class="clear height-20"></div><div class="height-10"></div>

					<div class="content-text tengah text-center">
						<h1 class="title-page">ABOUT US</h1><div class="clear"></div>
						<span class="quotes">Enhancing your taste experience since 1974</span>
						<div class="clear height-20"></div>
						<div class="ills-about"><img src="{{ app.request.baseurl }}/asset/images/ill-abouts-sambel.png" alt="" class="img-responsive pc-center"></div>
						<div class="clear height-25"></div><div class="height-10"></div>

						<div class="mw735 text-center tengah">
							<span>Sambel Cap Jempol Company has been established since the 1974 and located in Jakarta, Indonesia. This company produces special chili sauces that has served the people of Indonesia for over 30 years and has been trusted by the public over the quality and guaranteed product.</span>

							<p>The quality of products we provide are natural ingredients that makes its spiciness feels natural. The advantages of our sauces are not using the substance / food dye so it is safe for daily consumption. Healthiness and publics&rsquo; satisfaction becomes our priority, hence it is one of our encouragement that makes us continues to develop the quality and innovating new range of products. Our mission remains to serve the needs of seasoning your daily foods with products that are guaranteed kosher, while our vision is to continue to grow following the trend in terms of technological innovation, market development and so forth.</p>
						</div> <div class="clear height-50"></div><div class="height-10"></div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
{% endblock %}