{% extends layout %}
{% block title %}Accomodation - {% endblock %}
{% block menu %}accomodation{% endblock %}
{% block content %}
	<div class="prelatife container">
	<div class="outer-inside-pages">
		<div class="inside content-text">
			<div class="celar height-35"></div>
			<h1 class="page-title">ACCOMMODATIONS</h1>
			<div class="clear height-10"></div>
			
			<div class="list-accomodations-data">
				<div class="item">
					<div class="insd">
						<div class="clear height-40"></div>
						<div class="row">
							<div class="col-md-5">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/accomodation-1.jpg" alt="COSY LODGE - BELMONT"></div>
							</div>
							<div class="col-md-7">
								<div class="description">
									<div class="row">
										<div class="col-md-3">
											<h2 class="title-acc">
												COSY LODGE <br> <b>BELMONT</b>
											</h2>
											<div class="clear height-5"></div>
											<span>
												From <br> <b>$140 / night</b>
											</span>
											<div class="clear height-5"></div>
											<span>
												Minimum night stay <br> <b>3 nights</b>
											</span>
										</div>
										<div class="col-md-9">
											<div class="padding-left-30">
												<div class="s-iconaccomo">
													<div class="fleft ic-room">
														<i class="fa fa-users"></i> <div class="clear"></div>
														MAX. GUEST &nbsp;<span>6</span>
													</div>
													<div class="fleft ic-room padding-left-30">
														<i class="ico-bedd"></i> <div class="clear"></div>
														BEDS &nbsp;<span>4</span>
													</div>
												</div>
												<div class="clear height-25"></div>
												<div class="height-2"></div>
												<p>This cosy inner city lodge 3 bedroom, 1 bathroom self-contained home is perfect for families, friends or business travelers visiting Perth. It is also suitable for people having medical treatment in Perth.</p>

												<p>Located in a quiet neighborhood close to the Perth CBD, this home has a modern fully equipped kitchen, big garden, and an alfresco setting with BBQ for you and your family to enjoy.</p>

												<div class="clear height-10"></div>
												<div class="height-3"></div>
												<div class="link-accomd">
													<a href="#"><i class="fa fa-map-marker"></i> &nbsp; VIEW MAP</a>&nbsp;&nbsp;&nbsp;
													<a href="#"><i class="fa fa-search"></i> &nbsp; VIEW DETAILS</a>&nbsp;&nbsp;&nbsp;
													<a href="#"><i class="fa fa-picture-o"></i> &nbsp; PHOTO GALLERY</a>
													<div class="clear"></div>
												</div>

												<div class="clear"></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="item">
					<div class="insd">
						<div class="clear height-40"></div>
						<div class="row">
							<div class="col-md-5">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/accomodation-2.jpg" alt="COSY LODGE - BELMONT"></div>
							</div>
							<div class="col-md-7">
								<div class="description">
									<div class="row">
										<div class="col-md-3">
											<h2 class="title-acc">
												COSY LODGE <br> <b>BELMONT</b>
											</h2>
											<div class="clear height-5"></div>
											<span>
												From <br> <b>$140 / night</b>
											</span>
											<div class="clear height-5"></div>
											<span>
												Minimum night stay <br> <b>3 nights</b>
											</span>
										</div>
										<div class="col-md-9">
											<div class="padding-left-30">
												<div class="s-iconaccomo">
													<div class="fleft ic-room">
														<i class="fa fa-users"></i> <div class="clear"></div>
														MAX. GUEST &nbsp;<span>6</span>
													</div>
													<div class="fleft ic-room padding-left-30">
														<i class="ico-bedd"></i> <div class="clear"></div>
														BEDS &nbsp;<span>4</span>
													</div>
												</div>
												<div class="clear height-25"></div>
												<div class="height-2"></div>
												<p>This cosy inner city lodge 3 bedroom, 1 bathroom self-contained home is perfect for families, friends or business travelers visiting Perth. It is also suitable for people having medical treatment in Perth.</p>

												<p>Located in a quiet neighborhood close to the Perth CBD, this home has a modern fully equipped kitchen, big garden, and an alfresco setting with BBQ for you and your family to enjoy.</p>

												<div class="clear height-10"></div>
												<div class="height-3"></div>
												<div class="link-accomd">
													<a href="#"><i class="fa fa-map-marker"></i> &nbsp; VIEW MAP</a>&nbsp;&nbsp;&nbsp;
													<a href="#"><i class="fa fa-search"></i> &nbsp; VIEW DETAILS</a>&nbsp;&nbsp;&nbsp;
													<a href="#"><i class="fa fa-picture-o"></i> &nbsp; PHOTO GALLERY</a>
													<div class="clear"></div>
												</div>

												<div class="clear"></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
			
			 <div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="clear height-5"></div>
{% endblock %}
