{% extends layout %}
{% block title %}Become An Agent - {% endblock %}
{% block menu %}agent{% endblock %}
{% block content %}
<div class="outers-middle-contents  prelatife">
			<div class="outers-back-crem-hm insidepage">
				<div class="prelatife container">
					<div class="clear height-20"></div><div class="height-10"></div>

					<div class="content-text tengah text-center">
						<h1 class="title-page">BECOME AN AGENT</h1><div class="clear"></div>
						<span class="quotes">We share our legacy & our success</span>
						<div class="clear height-20"></div>
						<div class="ills-about"><img src="{{ app.request.baseurl }}/asset/images/ill-marketing-sambel.png" alt="" class="img-responsive pc-center"></div>
						<div class="clear height-25"></div><div class="height-10"></div>

						<div class="mw735 text-center tengah">
							<span>In today's era of globalization, there are a lot of opportunities to expand our sales, therefore for anyone who interested to cooperate with us, please do not hesitate to contact us at:</span>
							<p><a href="mailto:marketing@sambelcapjempol.com" class="mails">marketing@sambelcapjempol.com</a></p>
							<span>we will immediately reply as soon as possible.</span>
						</div> <div class="clear height-50"></div><div class="height-10"></div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
{% endblock %}