{% extends layout %}
{% block title %}Contact - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
<div class="lines-white-20p"></div>
<div class="outers-middle-contents back-black">
		<div class="top-insides-illpage prelatife">
				<div class="ins-texxt text-center">
					<div class="clear height-125"></div>
					<h2>CONTACT SEVENTEEN</h2> <div class="clear height-10"></div>
					<p>Now is always the best time to reach us</p>
					<div class="clear height-50"></div>
					<div class="clear height-10"></div>
					<h2>SEVENTEEN RESTO AND LOUNGE</h2> <div class="clear height-20"></div>
					<span>TELEPHONE. <br> <b>031 5011100</b></span>
					<div class="clear height-20"></div>
					<span>EMAIL.<br> <b><a href="mailto:reservation@seventeenlounge.com">reservation@seventeenlounge.com</a></b></span>
					<div class="clear height-20"></div>
					<span>ADDRESS. <br> <b>Jl. Bangka No. 8-18, Surabaya - Jawa Timur 60281</b></span>
					<div class="clear height-20"></div>

					<div class="clear"></div>
				</div>
			</div>

			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear height-10"></div>

			<div class="outers-maps-loc">
				<div class="embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1978.8601206082358!2d112.74840283171582!3d-7.272641508892226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fbda377dbc0d%3A0x960b5d759b88e7b4!2sHARRIS+Hotel+%26+Conventions+Gubeng!5e0!3m2!1sid!2sid!4v1449743287197" width="100%" height="617" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div><div class="clear height-35"></div>

			<div class="clear"></div>
		</div>

		
		{% include "/layouts/_bottom_gallery_dt.twig" %}
{% endblock %}