{% extends layout %}
{% block title %}Location - {% endblock %}
{% block menu %}location{% endblock %}
{% block content %}
	<div class="prelatife container">
	<div class="outer-inside-pages">
		<div class="inside content-text">
			<div class="celar height-35"></div>
			<h1 class="page-title">LOCATION</h1>
			<div class="clear height-15"></div>
			
			<div class="back-insid-location-outer">
				<div class="insd">
					<div class="row">
						<div class="col-md-7">
							<div class="pict_location"><img src="{{ app.request.baseurl }}/asset/images/back-ins-location-lefts-dta.jpg" alt=""></div>
						</div>
						<div class="col-md-5">
							<div class="desc">
								<div class="clear height-20"></div>
								<div class="list-location">
									<div class="item">
										<h3 class="title">COSY LODGE <b>BELMONT</b></h3> 
										<div class="clear height-10"></div>
										<p>12 Hardley Road, Belmont <br> Perth - Western Australia</p>
										<div class="link-detail-loc"><a href="#"><i class="fa fa-search"></i> &nbsp;VIEW DETAILS</a></div>

										</div>
										<div class="item">
										<h3 class="title">COSY LODGE <b>MELBOURNE</b></h3> 
										<div class="clear height-10"></div>
										<p>12 Hardley Road, Belmont <br> Perth - Western Australia</p>
										<div class="link-detail-loc"><a href="#"><i class="fa fa-search"></i> &nbsp;VIEW DETAILS</a></div>

										</div>
										<div class="item">
										<h3 class="title">COSY LODGE <b>SYDNEY</b></h3> 
										<div class="clear height-10"></div>
										<p>12 Hardley Road, Belmont <br> Perth - Western Australia</p>
										<div class="link-detail-loc"><a href="#"><i class="fa fa-search"></i> &nbsp;VIEW DETAILS</a></div>

										</div>
										<div class="clear"></div>
									</div>	
								</div>

								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
			
			 <div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="clear height-5"></div>
{% endblock %}
