{% extends layout %}
{% block title %}Local Attractions - {% endblock %}
{% block menu %}local_attr{% endblock %}
{% block content %}
	<div class="prelatife container">
	<div class="outer-inside-pages">
		<div class="inside content-text">
			<div class="celar height-35"></div>
			<h1 class="page-title">LOCAL ATTRACTIONS</h1>
			<div class="clear height-10"></div>
			
			<div class="list-accomodations-data">
				<div class="item">
					<div class="insd">
						<div class="clear height-40"></div>
						<div class="row">
							<div class="col-md-5">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/accomodation-1.jpg" alt="COSY LODGE - BELMONT"></div>
							</div>
							<div class="col-md-7">
								<div class="description desc_local">
									<div class="clear height-10"></div>
									<div class="title">WAVE ROCK</div>
									<div class="clear height-20"></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula magna, feugiat ac fringilla sit amet, bibendum id neque. Donec vel hendrerit dolor. Maecenas finibus sit amet dui a suscipit. Aliquam nisi ligula, vestibulum nec porta a, auctor sit amet eros. Fusce congue mauris tellus, vitae egestas felis tristique imperdiet. Curabitur at imperdiet nisi. Morbi venenatis ornare neque at aliquet. Donec pharetra lorem et nisl congue condimentum non a justo. Morbi ut gravida quam, vitae dapibus ex. Fusce ut blandit dui. Cras nisi lorem, laoreet a sodales ac, mattis et nunc. </p>

									<div class="clear height-30"></div>
									<div class="links-local-attrac">
										<a href="#" class="vwl-map"><i class="fa fa-map-marker"></i> &nbsp;VIEW MAP&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" class="vwl-map margin-left-10"><i class="ico-gallery-i"></i> &nbsp;ATTRACTION PHOTOS</a>
										<div class="clear"></div>
									</div>

									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="item">
					<div class="insd">
						<div class="clear height-40"></div>
						<div class="row">
							<div class="col-md-5">
								<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/accomodation-2.jpg" alt="COSY LODGE - BELMONT"></div>
							</div>
							<div class="col-md-7">
								<div class="description desc_local">
									<div class="clear height-10"></div>
									<div class="title">WAVE ROCK</div>
									<div class="clear height-20"></div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula magna, feugiat ac fringilla sit amet, bibendum id neque. Donec vel hendrerit dolor. Maecenas finibus sit amet dui a suscipit. Aliquam nisi ligula, vestibulum nec porta a, auctor sit amet eros. Fusce congue mauris tellus, vitae egestas felis tristique imperdiet. Curabitur at imperdiet nisi. Morbi venenatis ornare neque at aliquet. Donec pharetra lorem et nisl congue condimentum non a justo. Morbi ut gravida quam, vitae dapibus ex. Fusce ut blandit dui. Cras nisi lorem, laoreet a sodales ac, mattis et nunc. </p>

									<div class="clear height-30"></div>
									<div class="links-local-attrac">
										<a href="#" class="vwl-map"><i class="fa fa-map-marker"></i> &nbsp;VIEW MAP&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="#" class="vwl-map margin-left-10"><i class="ico-gallery-i"></i> &nbsp;ATTRACTION PHOTOS</a>
										<div class="clear"></div>
									</div>

									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
			
			 <div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	<div class="clear height-5"></div>
{% endblock %}
