{% extends layout %}
{% block title %}Marketing - {% endblock %}
{% block menu %}marketing{% endblock %}
{% block content %}
<div class="outers-middle-contents  prelatife">
			<div class="outers-back-crem-hm insidepage">
				<div class="prelatife container">
					<div class="clear height-20"></div><div class="height-10"></div>

					<div class="content-text tengah text-center">
						<h1 class="title-page">MARKETING</h1><div class="clear"></div>
						<span class="quotes">Spread greatness by word of Mouth</span>
						<div class="clear height-20"></div>
						<div class="ills-about"><img src="{{ app.request.baseurl }}/asset/images/ill-marketing-sambel.png" alt="" class="img-responsive pc-center"></div>
						<div class="clear height-25"></div><div class="height-10"></div>

						<div class="mw735 text-center tengah">
							<span>It begins from traditional markets which makes Sambel Cap Jempol the word of mouth and become one of the most recognizable chili sauces in Jakarta.</span>

							<p>With the word of mouth, our chili sauce has now been widely recognized in Indonesian society, even to foreign countries. To boost up our position in the market, we continue to improve quality and promote our products to become one of the best chili sauces and most demanding amongst people&rsquo;s choice.</p>

							<p>Nowadays, our products have reached the modern market in Indonesia, and beyond that our market had reached the neighboring countries.</p>

						</div> <div class="clear height-50"></div><div class="height-10"></div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
{% endblock %}