{% extends layout %}
{% block title %}Project References - {% endblock %}
{% block menu %}project{% endblock %}
{% block content %}
	<div class="back-top-outer-pageinsidess project">
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	
	<div class="back-white">
		<div class="prelatife container">
			<div class="clear height-50"></div><div class="height-45"></div>
				<div class="tengah mw-924 text-center content-t-homebottom-dt">
					<div class="titles text-center">PROJECT REFERENCES</div>
					<div class="clear height-20"></div>
					<span>Let our work speaks for itself</span>
					<div class="clear height-30"></div>
					<div class="clear height-20"></div>
					<p>From home offices to mass public facilities, Ardent Office Furniture has proven all the company statement<br />with real evidence of quality, service, and after sales in-field real action. Here are some of our customers that<br />use Ardent Office Furniture&rsquo;s products.</p>
					<div class="clear height-45"></div>
					<div class="mw-706 tengah text-center project_location_t">
						<div class="row">
							<div class="col-md-6">
								<p><strong>Singapore Airport Check In Counter</strong><br />
									Changi, Singapore</p>

									<p><strong>Western Digital</strong><br />
									Yishun, Singapore</p>

									<p><strong>Company Name</strong><br />
									Orchard, Singapore</p>

									<p><strong>XYZ Company</strong><br />
									Sommerset, Singapore</p>

									<p><strong>Plaza Singapura</strong><br />
									Dhoby Gout, Singapore</p>

							</div>
							<div class="col-md-6">
								<p><strong>ABC Company</strong><br />
									Raffles, Singapore</p>

									<p><strong>Western Digital</strong><br />
									Yishun, Singapore</p>

									<p><strong>Company Name</strong><br />
									Orchard, Singapore</p>

									<p><strong>XYZ Company</strong><br />
									Sommerset, Singapore</p>

									<p><strong>Plaza Singapura</strong><br />
									Dhoby Gout, Singapore</p>

							</div>
						</div>
						<div class="clear height-30"></div>
						<p class="text-center">and many more...</p>
						<div class="clear"></div>
					</div>


					<div class="clear height-30"></div>	
					<div class="clear"></div>
				</div>

				<div class="clear height-50"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="back-black-bottomfl-homebottom-fcss">
			<div class="prelatife container">
				
				<div class="mw-910 tengah text-left box-cont-middlebottom-fcshuman">
					<div class="disn-block pict-left"><img src="{{ app.request.baseurl }}/asset/images/back-impo-human-aof2.png" alt=""></div>
					<div class="disn-block desc-text">
						<div class="clear height-25"></div>
						<span class="t1">How can we help you? &nbsp;</span><span>Fill the fields below or dial <b>675-9055</b> for a help...</span>
						<div class="clear height-20"></div>
						<div class="bx-forms-botfcs">
							<form class="form-inline" method="post" action="">
								  <div class="form-group">
								    <label class="sr-only" for="exampleInputName3">Name</label>
								    <input type="text" name="inquire[name]" class="form-control" id="exampleInputName3" placeholder="Name" required>
								  </div>&nbsp;&nbsp;&nbsp;
								  <div class="form-group">
								    <label class="sr-only" for="exampleInputEmail3">Email address</label>
								    <input type="email" name="inquire[email]" class="form-control" id="exampleInputEmail3" placeholder="Email" required>
								  </div>&nbsp;&nbsp;&nbsp;
								  <div class="form-group">
								    <select class="form-control" name="inquire[choose_option]" >
								      <option>I need assistance for...</option>
								      <option>2</option>
								      <option>3</option>
								    </select>
								  </div>&nbsp;&nbsp;&nbsp;
								  <button type="submit" class="btn btn-default-blueinquire"></button>
								</form>
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
{% endblock %}
