<p>Thank you for Inquiry Sambel Cap Jempol! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>

</table>
<p>Copyright &copy; 2016.</p>